.info {
    border-color: #4CAF50;;
    color: #4CAF50;
  }
  
  .info:hover {
    background: #4CAF50;;
    color: white;
  }
  .btn {
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 2px 9px;
    font-size: 11px;
    cursor: pointer;
  }
  