.AppHeader {
  background-color:rgb(20, 105, 173);
  padding: 10px;
  margin-bottom: 40px;
  border:2px;
  color: white;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}


th {
  background-color: rgb(20, 105, 173);
  text-align: left;
  padding: 8px;
  color: white; 
  width: 100%;
}